<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/user.css">
  <title>{% block title %}{% endblock %}</title>
</head>
<body>
  <nav class="menu">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/users">All Users</a></li>
      <li><a href="/tags">All Tags</a></li>
    </ul>
  </nav>
  
  {% for msg in get_flashed_messages() %}
    <h3>{{msg}}</h3>
  {% endfor %}

  {% block content %}{% endblock %}
</body>
</html>