{% extends 'base.html' %}

{% block title %} Board {% endblock %}

{% block content%}
<section id="boggle">

  <table class="board">
    {% for row in board %}
    <tr>
      {% for letter in row %}
        <td>{{letter}}</td>
      {% endfor %}
    </tr>
    {% endfor %}
  </table>
  
  <form method="POST" class="guess-form">
    <h3>Your Guess:</h3>
    <input name="guess" class="guess">
    <button>Guess!</button>
  </form>

  <p>Time remaining: <b id="timer">60</b></p>
  
  <p class="msg"></p>

  <p>Your Score: <b id="score">0</b></p>

  <h3>Correct Guesses:</h3>
  <ul class="correct-guesses"></ul>
  
</section>
{% endblock %}