* {
  box-sizing: border-box;
}

:focus {
  outline:none;
  border: 2px solid rgb(255, 140, 0);
  border-color: rgb(255, 140, 0);
  border-radius: 5px;
}

body {
  background: linear-gradient(to right, rgb(255, 238, 0), rgb(255, 140, 0));
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.search-container {
   width:200px;
}

.search-container input {
  background: linear-gradient(to right, rgb(255, 220, 0), rgb(255, 190, 0));
  border: none;
  border-bottom: 2px solid  rgb(255, 140, 0);
  height: 2rem;
  border-radius: 5px;
}
.search-container .suggestions {
  position:absolute;
  background: linear-gradient(to right, rgb(255, 220, 0), rgb(255, 190, 0));
  border: 1px solid rgb(255, 220, 0);
  max-height: 150px;
  overflow-y: auto;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
  width:inherit;
  border-radius: 5px;
}

.suggestions::-webkit-scrollbar {
  width: 0;
}

ul {
  list-style:none;
  padding:0;
  margin:0;
}
ul li {
  padding:10px;
  cursor:pointer;
  transition: background-color 0.2s;
}
ul li:hover {
  background-color: rgb(255, 80, 0);
}